@import '@st/functions.scss';
@import '@st/variables.scss';

.block__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: adapt(10px, 412px);
	width: 100%;
}

.button__nav {
	background-color: transparent;
	width: adapt(18px, 412px);
	height: adapt(20px, 412px);
	margin-top: adapt(16px, 412px);

	> img {
		width: adapt(18px, 412px);
		height: adapt(20px, 412px);
	}
}

.block__fullLot {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
}

.block__slider {
	width: 100%;
	height: adapt(412px, 412px);
	position: relative;
}

.image__slider {
	width: 100%;
	height: 100%;
}

.number__image {
	background-color: $color_light_blue;
	border-radius: adapt(10px, 412px);
	padding: adapt(8px, 412px) adapt(12px, 412px);
	font-size: 1.14rem;
	color: $color_blue;
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
}

.info__lot,
.info__product,
.description {
	border-bottom: 1px solid $color_light_blue;
	padding-bottom: adapt(16px, 412px);
}

.info__lot,
.info__product {
	display: flex;
	flex-direction: column;
	gap: adapt(5px, 412px);
}

.text {
	color: $color_grey;
	font-size: 0.85rem;
}

.value {
	margin-left: adapt(8px, 412px);
	color: $color_full_black;
	font-size: 0.85rem;
}

.st {
	color: $color_blue;
}

.pro {
	// font-size: 1rem;
	> .text__pro {
		font-size: 0.87rem;
		color: $color_grey;
		margin-bottom: adapt(16px, 412px);
	}
}

.block__offers {
}

.block__title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> .title {
		font-size: 1.42rem;
		color: $color_full_black;
	}
}

.arrow__offer {
	width: adapt(22px, 412px);
	height: adapt(22px, 412px);
}

.block__people {
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
	width: 100%;
	margin-top: adapt(16px, 412px);
}

.block__opacity {
	background-color: rgba($color: $color_full_black, $alpha: 0.5);
	position: absolute;
	top: 0;
	bottom: -1000%;
	left: 0;
	right: 0;
	z-index: 9;
}

/////
.fullScreenSlider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $color_white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.fullScreenImage {
	max-width: 100%;
	max-height: 100%;
}

.thumbnailSlider {
	position: absolute;
	bottom: adapt(20px, 412px);
	display: flex;
	justify-content: flex-end;
	gap: adapt(10px, 412px);
	width: 100%;
	overflow-x: auto;
}

.thumbnailImage {
	width: adapt(64px, 412px);
	height: adapt(104px, 412px);
	cursor: pointer;
	border: 2px solid $color_white;
	border-radius: adapt(10px, 412px);
	object-fit: cover;
}

.thumbnailImage:hover {
	border: 2px solid $color_blue;
}

.videoWrapper {
	position: relative;
}

.playButtonOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	// padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.playButtonOverlay img {
	width: adapt(56px, 412px);
	height: adapt(56px, 412px);
}

.exit__fullScreen {
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 20000000;
	background-color: transparent;
}
.exit__fullScreen img {
	width: adapt(40px, 412px);
	height: adapt(40px, 412px);
	border: 1px solid $color_blue;
	border-radius: 50%;
}

///
