@import '@st/functions.scss';
@import '@st/variables.scss';

.block__status {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding: adapt(28px, 412px);
	gap: adapt(8px, 412px);
}

.statusItem {
	display: flex;
	position: relative;
	gap: adapt(32px, 412px);
}

.block__visual {
	display: flex;
	flex-direction: column;
	gap: adapt(8px, 412px);
}

.circle {
	width: adapt(12px, 412px);
	height: adapt(12px, 412px);
	border-radius: 50%;
}

.line {
	width: adapt(2px, 412px);
	height: adapt(52px, 412px);
	margin-left: adapt(5px, 412px);
}

.active {
	background-color: $color_blue;
}

.inactive {
	background-color: $color_light_blue;
}

.statusText {
	font-size: 1.055rem;
	font-weight: 600;
	color: $color_full_black;
}

.dopText {
	font-size: 0.94rem;
	color: $color_grey;
	margin-top: adapt(8px, 412px);
}

.statusCollapsed {
	display: flex;
	align-items: center;
	gap: adapt(8px, 412px);
}

.line__mini {
	margin-right: adapt(4px, 412px);
	height: adapt(20px, 412px);
	width: 2px;
	background-color: $color_blue;
}

.statusText_mini {
	color: $color_grey;
	font-size: 0.75rem;
}

.activeStatus_mini {
	font-size: 0.875rem;
	color: $color_blue;
	font-weight: 500;
}
