@import '@st/functions.scss';
@import '@st/variables.scss';

.block__popup {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 23;
	width: 100%;
	background-color: $color_white;
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
	border-top-left-radius: adapt(20px, 412px);
	border-top-right-radius: adapt(20px, 412px);
	padding: adapt(16px, 412px) adapt(28px, 412px) adapt(28px, 412px);
}

.block__title {
	color: $color_full_black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 1.42rem;
	margin-bottom: adapt(8px, 412px);
	// font-weight: 500;
}
