@import '@st/functions.scss';
@import '@st/variables.scss';

.block__filters {
	display: flex;
	flex-wrap: wrap;
	gap: adapt(4px, 412px);
}

.block__lots {
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
}
