@import '@st/functions.scss';
@import '@st/variables.scss';

.fullScreenSlider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $color_white;
	display: flex;
	justify-content: center;
	gap: adapt(16px, 412px);
	align-items: center;
	flex-direction: column;
	align-items: start;
	z-index: 1000;
	padding-top: adapt(5px, 412px);
}

.exit__fullScreen {
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 20000000;
	background-color: transparent;
}
.exit__fullScreen img {
	width: adapt(40px, 412px);
	height: adapt(40px, 412px);
	border: 1px solid $color_blue;
	border-radius: 50%;
}

.fullScreenImage {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.thumbnailSlider {
	position: absolute;
	bottom: adapt(20px, 412px);
	display: flex;
	justify-content: flex-end;
	gap: adapt(10px, 412px);
	width: 100%;
	overflow-x: auto;
}

.container__image {
	position: relative;
}

.thumbnailImage {
	width: adapt(64px, 412px);
	height: adapt(104px, 412px);
	cursor: pointer;
	border: 2px solid $color_white;
	border-radius: adapt(10px, 412px);
	object-fit: cover;
}

.thumbnailImage:hover {
	border: 2px solid $color_blue;
}

.activeThumbnail .thumbnailImage {
	border: 2px solid $color_blue;
}
