@import '@st/functions.scss';
@import '@st/variables.scss';

.chat {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.block-wrapper__chat {
	display: flex;
	flex-direction: column;
}

.block__messageMe {
	align-self: flex-end;
	max-width: 80%;
	display: flex;
	flex-direction: column;
}

.block__messageThem {
	align-self: flex-start;
	max-width: 80%;
	display: flex;
	flex-direction: column;
}

.messageMe {
	background-color: $color_blue;
	color: $color_white;
	padding: 10px;
	border-radius: 10px;
	overflow-wrap: break-word;
	word-break: break-word;
	align-self: flex-end;
}

.messageThem {
	align-self: flex-start;
	background-color: $color_very_light_blue;
	color: $color_full_black;
	padding: 10px;
	border-radius: 10px;
	overflow-wrap: break-word;
	word-break: break-word;
}

.time {
	font-size: 0.8rem;
	color: $color_grey;
	margin-top: 5px;
	display: block;
}

.left {
	align-self: flex-end;
}

.right {
	align-self: flex-start;
}

.block__opacity {
	background-color: rgba($color: $color_full_black, $alpha: 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

// .imageContainer {
// 	width: 100%;

// 	> .messageImage {
// 		width: 50%;
// 	}
// }

.imageContainer {
	display: grid;
	gap: 10px; // Промежутки между картинками
	width: adapt(300px, 412px);
	height: adapt(300px, 412px);
}

.imageContainer .messageImage {
	width: 100%;
	height: 100%;
	object-fit: cover; // Картинки будут вписаны в блок без искажения
	border-radius: 8px; // Округлим углы
}

// .messageImage {
// 	min-height: adapt(100px, 412px);
// }

/* Стили для одного изображения */
.imageContainer--1 {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

/* Стили для двух изображений */
.imageContainer--2 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

// /* Стили для трех изображений */
// .imageContainer--3 {
// 	grid-template-columns: 1fr 1fr;
// 	grid-template-rows: auto;
// }

// .imageContainer--3 .messageImage:first-child {
// 	grid-column: span 2; /* Первое изображение занимает 2 колонки */
// }

.imageContainer--3 {
	display: grid;
	grid-template-columns: 1fr 1fr; // Два столбца
	grid-template-rows: 1fr 1fr; // Две строки (второй столбец займут две картинки)
	grid-gap: 5px; // Зазор между изображениями (по желанию)

	.messageImage {
		width: 100%;
		height: 100%;
		object-fit: cover; // Обеспечивает правильное масштабирование изображений
	}

	// Первое изображение занимает 50% ширины и всю высоту
	.messageImage:nth-child(1) {
		grid-column: 1 / 2; // Первая картинка занимает первый столбец
		grid-row: 1 / 3; // Она занимает две строки (всю высоту)
	}

	// Второе изображение в верхнем правом углу
	.messageImage:nth-child(2) {
		grid-column: 2 / 3; // Второе изображение занимает второй столбец
		grid-row: 1 / 2; // Занимает первую строку (верх)
	}

	// Третье изображение в нижнем правом углу
	.messageImage:nth-child(3) {
		grid-column: 2 / 3; // Третье изображение занимает второй столбец
		grid-row: 2 / 3; // Занимает вторую строку (низ)
	}
}

/* Стили для четырех изображений */
.imageContainer--4 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

.imageContainer--5 {
	display: grid;
	grid-template-columns: 1fr 1fr; // Два столбца
	// grid-template-rows: repeat(3, 1fr); // Три строки, каждая равной высоты
	grid-template-rows: 3fr 0.5fr 0.5fr;
	grid-gap: 5px; // Зазор между изображениями (по желанию)
	grid-template-areas: 'image1 image2' // Первая строка: два изображения
		'image3 image4' // Вторая строка: два изображения
		'image3 image5'; // Третья строка: одно изображение в первом столбце, другое во втором

	> .messageImage {
		width: 100%;
		height: 100%;
		object-fit: cover; // Подгонка изображений по размеру
	}

	// Первое изображение в левом верхнем углу
	> .messageImage:nth-child(1) {
		grid-area: image1;
	}

	// Второе изображение в правом верхнем углу
	> .messageImage:nth-child(2) {
		grid-area: image2;
	}

	// Третье изображение занимает первый столбец во второй и третьей строке
	> .messageImage:nth-child(3) {
		grid-area: image3;
	}

	// Четвёртое изображение справа во второй строке
	> .messageImage:nth-child(4) {
		grid-area: image4;
	}

	// Пятое изображение справа в третьей строке
	> .messageImage:nth-child(5) {
		grid-area: image5;
	}
}

// .imageContainer--5 {
// 	display: grid;
// 	grid-template-columns: 1fr 1fr; /* Два столбца */
// 	grid-template-rows: 3fr 0.5fr 0.5fr; /* Определяем высоту строк */
// 	// grid-template-rows: minmax(100px, 3fr) minmax(50px, 0.5fr) minmax(50px, 0.5fr);
// 	gap: 5px; /* Явное указание gap */

// 	/* Обновляем области для каждой строки */
// 	grid-template-areas:
// 		'image1 image2' /* Первая строка */
// 		'image3 image4' /* Вторая строка */
// 		'image3 image5'; /* Третья строка */

// 	> .messageImage {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover; /* Подгонка изображений по размеру */
// 	}

// 	/* Первое изображение в левом верхнем углу */
// 	> .messageImage:nth-child(1) {
// 		grid-area: image1;
// 	}

// 	/* Второе изображение в правом верхнем углу */
// 	> .messageImage:nth-child(2) {
// 		grid-area: image2;
// 	}

// 	/* Третье изображение занимает первый столбец во второй и третьей строке */
// 	> .messageImage:nth-child(3) {
// 		grid-area: image3;
// 	}

// 	/* Четвёртое изображение справа во второй строке */
// 	> .messageImage:nth-child(4) {
// 		grid-area: image4;
// 	}

// 	/* Пятое изображение справа в третьей строке */
// 	> .messageImage:nth-child(5) {
// 		grid-area: image5;
// 	}
// }

.imageContainer--6 {
	display: grid;
	grid-template-columns: 1fr 1fr; // Два столбца
	grid-template-rows: repeat(4, 1fr); // Три строки, каждая равной высоты
	// grid-template-rows: 3fr 0.5fr 0.5fr;
	grid-gap: 5px; // Зазор между изображениями (по желанию)
	grid-template-areas: 'image1 image2' // Первая строка: два изображения
		'image1 image3' // Первая строка: два изображения
		'image4 image5' // Вторая строка: два изображения
		'image4 image6'; // Третья строка: одно изображение в первом столбце, другое во втором

	> .messageImage {
		width: 100%;
		height: 100%;
		object-fit: cover; // Подгонка изображений по размеру
	}

	// Первое изображение в левом верхнем углу
	> .messageImage:nth-child(1) {
		grid-area: image1;
	}

	// Второе изображение в правом верхнем углу
	> .messageImage:nth-child(2) {
		grid-area: image2;
	}

	// Третье изображение занимает первый столбец во второй и третьей строке
	> .messageImage:nth-child(3) {
		grid-area: image3;
	}

	// Четвёртое изображение справа во второй строке
	> .messageImage:nth-child(4) {
		grid-area: image4;
	}

	// Пятое изображение справа в третьей строке
	> .messageImage:nth-child(5) {
		grid-area: image5;
	}

	> .messageImage:nth-child(6) {
		grid-area: image6;
	}
}

.imageContainer--7 {
	display: grid;
	grid-template-columns: 1fr 1fr; // Два столбца
	grid-template-rows: repeat(4, 1fr); // Три строки, каждая равной высоты
	// grid-template-rows: 3fr 0.5fr 0.5fr;
	grid-gap: 5px; // Зазор между изображениями (по желанию)
	grid-template-areas: 'image1 image2' // Первая строка: два изображения
		'image1 image3' // Первая строка: два изображения
		'image4 image5' // Вторая строка: два изображения
		'image6 image7'; // Третья строка: одно изображение в первом столбце, другое во втором

	> .messageImage {
		width: 100%;
		height: 100%;
		object-fit: cover; // Подгонка изображений по размеру
	}

	// Первое изображение в левом верхнем углу
	> .messageImage:nth-child(1) {
		grid-area: image1;
	}

	// Второе изображение в правом верхнем углу
	> .messageImage:nth-child(2) {
		grid-area: image2;
	}

	// Третье изображение занимает первый столбец во второй и третьей строке
	> .messageImage:nth-child(3) {
		grid-area: image3;
	}

	// Четвёртое изображение справа во второй строке
	> .messageImage:nth-child(4) {
		grid-area: image4;
	}

	// Пятое изображение справа в третьей строке
	> .messageImage:nth-child(5) {
		grid-area: image5;
	}

	> .messageImage:nth-child(6) {
		grid-area: image6;
	}
	> .messageImage:nth-child(7) {
		grid-area: image7;
	}
}

/* Больше изображений */
.imageContainer--more {
	grid-template-columns: repeat(2, 1fr); /* 2 колонки */
	grid-template-rows: auto;
}

.block__dateMessage {
	width: 100%;
	height: adapt(20px, 412px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: adapt(27px, 412px) 0px;

	> .line {
		width: 100%;
		height: 1px;
		background-color: $color_light_blue;
	}

	> .date {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		color: $color_blue;
		font-size: 0.875rem;
	}
}

.block__popupComplited {
	position: fixed;
	bottom: 0;
	z-index: 11;
	width: 100%;
	background-color: $color_white;
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
	border-top-left-radius: adapt(20px, 412px);
	border-top-right-radius: adapt(20px, 412px);
	padding: adapt(16px, 412px) adapt(28px, 412px) adapt(28px, 412px);

	> .block__titlePopup {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> .title {
			font-size: 1.42rem;
			font-weight: 600;
		}

		> .button__exit {
			background-color: transparent;
		}
	}
}

.button__exitChat {
	background-color: transparent;
	transform: rotate(180deg);
	align-self: flex-start;
	display: flex;
	align-items: center;
	justify-content: center;
	width: adapt(30px, 412px);
	height: adapt(30px, 412px);

	> img {
		width: adapt(15px, 412px);
		height: adapt(15px, 412px);
	}
}

.buttons__popup {
	display: flex;
	align-items: center;
	// justify-content: space-between;
	gap: adapt(20px, 412px);
}
