@import '@st/functions.scss';
@import '@st/variables.scss';

.cameraBlock {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;
	background-color: $color_white;
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 412px);
	border-top-left-radius: adapt(20px, 412px);
	border-top-right-radius: adapt(20px, 412px);
	padding: adapt(16px, 412px) adapt(28px, 412px) adapt(28px, 412px);
}

.block__title {
	color: $color_full_black;
}

.title {
	font-size: 1.42rem;
	margin-bottom: adapt(8px, 412px);
}

.description {
	font-size: 1rem;
}

.mediaButtons {
	width: 100%;
	> .cameraButton {
		display: inline-block;
		width: 100%;

		> img {
			width: 100%;
		}
	}
}

.mediaGallery {
	display: flex;
	flex-wrap: wrap;
	gap: adapt(8px, 412px);

	.mediaItem {
		width: calc(50% - adapt(8px, 412px));
		// height: auto;
		// max-height: adapt(150px, 412px);
		height: adapt(150px, 412px);
		border-radius: adapt(10px, 412px);
		object-fit: cover;
	}

	> .video {
		height: adapt(150px, 412px);
	}
}

.block__buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
